/* screen - menu-1 */

.menu-1 {
  background-color: var(--black);
  height: 730px;
  overflow-x: hidden;
  position: relative;
  width: 210px;
}

#overlay-menu-1 {
  align-items: start;
  background-color: #00000080;
  justify-content: flex-start;
}

.menu-1 .menu-CY28Mj::-webkit-scrollbar {
  display: none;
  width: 0;
}

.menu-1 .menu-CY28Mj {
  background-color: transparent;
  height: 730px;
  left: 0px;
  overflow-y: scroll;
  position: relative;
  top: 0px;
  width: 210px;
}

.menu-1 .rectangle-33-WgszKj {
  background-color: var(--bg);
  height: 730px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 210px;
}

.menu-1 .btn_-log-in_-default-WgszKj {
  background-color: transparent;
  height: 26px;
  position: absolute;
  right: 11px;
  top: 22px;
  width: 88px;
}

.menu-1 .rectangle-7-qJWxvZ {
  background-color: var(--frblue);
  border-color: var(--ptyellow);
}

.menu-1 .login-qJWxvZ {
  background-color: transparent;
  height: 57.69%;
  left: 27.65%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22.22%;
  white-space: nowrap;
  width: 43.18%;
}

.menu-1 .btn_-join_-default-WgszKj {
  background-color: transparent;
  height: 26px;
  position: absolute;
  right: 109px;
  top: 22px;
  width: 88px;
}

.menu-1 .rectangle-7-P7Or0V {
  background-color: var(--btblue);
  border-color: var(--onahau);
}

.menu-1 .join-P7Or0V {
  background-color: transparent;
  height: 57.69%;
  left: 33.71%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22.22%;
  white-space: nowrap;
  width: 32.95%;
}

.menu-1 .rectangle-35-WgszKj {
  background-color: var(--cultured-pearl);
  border-radius: 5px;
  height: 24px;
  left: 10px;
  position: absolute;
  top: 61px;
  width: 190px;
}

.menu-1 .x1-WgszKj {
  background-color: transparent;
  height: 18px;
  left: 19px;
  position: absolute;
  top: 64px;
  width: 15px;
}

.menu-1 .cmp_-group2-WgszKj {
  background-color: transparent;
  height: 157px;
  left: 10px;
  position: absolute;
  top: 100px;
  width: 190px;
}

.menu-1 .rectangle-34-aaiL6b {
  background-color: var(--frblue);
  border-radius: 5px;
  height: 157px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.menu-1 .btn_-horizon_-favorites-aaiL6b {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.menu-1 .rectangle-37-1aKsQy {
  width: 100%;
}

.menu-1 .star-2-1aKsQy {
  background-color: transparent;
  height: 20px;
  left: calc(50.00% - 87px);
  position: absolute;
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .favorites-1aKsQy {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .btn_-horizon_-live-aaiL6b {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 66px;
  width: 190px;
}

.menu-1 .rectangle-37-H7xrtO {
  width: 100%;
}

.menu-1 .vector-H7xrtO {
  height: 10px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 4px);
  width: 20px;
}

.menu-1 .live-H7xrtO {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .btn_-horizon_-promotions-aaiL6b {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 33px;
  width: 190px;
}

.menu-1 .rectangle-37-rgGN2a {
  width: 100%;
}

.menu-1 .vector-rgGN2a {
  height: 18px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 19px;
}

.menu-1 .promotions-rgGN2a {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .btn_-horizon_-challenge-aaiL6b {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 99px;
  width: 190px;
}

.menu-1 .rectangle-37-A0Ws1s {
  width: 100%;
}

.menu-1 .vector-A0Ws1s {
  height: 20px;
  left: calc(50.00% - 85px);
  top: calc(50.00% - 10px);
  width: 16px;
}

.menu-1 .challenge-A0Ws1s {
  background-color: transparent;
  bottom: 6px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .btn_-horizon_-league-aaiL6b {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 132px;
  width: 190px;
}

.menu-1 .rectangle-37-cUX3Wx {
  width: 100%;
}

.menu-1 .vector-cUX3Wx {
  height: 20px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .league-cUX3Wx {
  background-color: transparent;
  bottom: 6px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .cmp_-group1-WgszKj {
  background-color: transparent;
  height: 222px;
  left: 10px;
  position: absolute;
  top: 271px;
  width: 192px;
}

.menu-1 .rectangle-36-EWCFx2 {
  background-color: var(--frblue);
  border-radius: 5px;
  height: 222px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 190px;
}

.menu-1 .sports-EWCFx2 {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 45px;
}

.menu-1 .line-9-EWCFx2 {
  background-color: transparent;
  height: 10px;
  left: 3px;
  position: absolute;
  top: 32px;
  width: 184px;
}

.menu-1 .btn_-horizon_-football-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 190px;
}

.menu-1 .rectangle-37-vYNn1s {
  width: 100%;
}

.menu-1 .football-vYNn1s {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-vYNn1s {
  height: 20px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .btn_-horizon_-basketball-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 65px;
  width: 190px;
}

.menu-1 .rectangle-37-SIeKZM {
  width: 100%;
}

.menu-1 .basketball-SIeKZM {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-SIeKZM {
  height: 20px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .btn_-horizon_-baseball-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 98px;
  width: 190px;
}

.menu-1 .rectangle-37-RPPfyw {
  width: 100%;
}

.menu-1 .baseball-RPPfyw {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-RPPfyw {
  height: 20px;
  left: calc(50.00% - 86px);
  top: calc(50.00% - 10px);
  width: 17px;
}

.menu-1 .btn_-horizon_-vollyball-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 131px;
  width: 190px;
}

.menu-1 .rectangle-37-cTqzcQ {
  width: 100%;
}

.menu-1 .vollyball-cTqzcQ {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-cTqzcQ {
  height: 20px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .btn_-horizon_-tennis-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 164px;
  width: 190px;
}

.menu-1 .rectangle-37-paedBC {
  width: 100%;
}

.menu-1 .tennis-paedBC {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-paedBC {
  height: 20px;
  left: calc(50.00% - 85px);
  top: calc(50.00% - 10px);
  width: 16px;
}

.menu-1 .btn_-horizon_-icehockey-EWCFx2 {
  background-color: transparent;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 197px;
  width: 190px;
}

.menu-1 .rectangle-37-JplzOr {
  width: 190px;
}

.menu-1 .ice-hockey-JplzOr {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-JplzOr {
  height: 19px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .cmp_-no-name2-WgszKj {
  background-color: transparent;
  height: 25px;
  left: 10px;
  overflow: hidden;
  position: absolute;
  top: 513px;
  width: 190px;
}

.menu-1 .frame-26-cdYPvM {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.menu-1 .btn_-horizon_-language-tZZZN4 {
  align-self: stretch;
  background-color: transparent;
  height: 25px;
  position: relative;
  width: 100%;
}

.menu-1 .rectangle-37-iKSElx {
  width: 100%;
}

.menu-1 .vector-iKSElx {
  height: 20px;
  left: calc(50.00% - 87px);
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .language-iKSElx {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .vector-1-iKSElx {
  background-color: transparent;
  height: 6px;
  left: calc(50.00% + 72px);
  position: absolute;
  top: 9px;
  width: 10px;
}

.menu-1 .frame-25-tZZZN4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 3px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.menu-1 .btn_-horizon_-language_-eng-7qDqPf {
  background-color: transparent;
  height: 25px;
  position: relative;
  width: 190px;
}

.menu-1 .rectangle-37-bF6fQB {
  width: 100%;
}

.menu-1 .english-bF6fQB {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .flag_-circle_us-2-bF6fQB {
  background-color: transparent;
  height: 20px;
  left: calc(50.00% - 87px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .btn_-horizon_-language_-kor-7qDqPf {
  background-color: transparent;
  height: 25px;
  position: relative;
  width: 190px;
}

.menu-1 .rectangle-37-xYPeaH {
  width: 100%;
}

.menu-1 .korean-xYPeaH {
  background-color: transparent;
  bottom: 5px;
  height: auto;
  left: calc(50.00% - 63px);
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: auto;
}

.menu-1 .flag_-circle_kor-xYPeaH {
  background-color: transparent;
  height: 20px;
  left: calc(50.00% - 87px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 10px);
  width: 20px;
}

.menu-1 .rectangle-37 {
  background-color: var(--frblue);
  border-radius: 5px;
  height: 25px;
  left: 0px;
  position: absolute;
  top: 0px;
}

.menu-1 .rectangle-7 {
  border: 1.4825397729873657px solid;
  border-radius: 8.15px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.menu-1 .vector {
  background-color: transparent;
  position: absolute;
}
