<div class="live-Mzx5SR live headline2">LIVE</div>
      <div class="contents_-football_-live-Mzx5SR" id="contents_-football_-live">
        <div class="rectangle-29-dguGrZ rectangle-29"></div>
        <div class="frame-315-dguGrZ frame-315">
          <div class="group-17">
            <div class="rectangle-28-lE9kB9 rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-lE9kB9 premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <div class="frame-316-dguGrZ frame-316">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-48PoK5 premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <img class="line-1" src="img/line-1@2x.png" alt="Line 1" />
        <img class="line-2-dguGrZ line-2" src="img/line-1@2x.png" alt="Line 2" />
        <div class="live_-match">
          <div class="live-match-QB1qeo live-match">
            <div class="group-5-znlBDh group-5">
              <img class="aston-villa-zQKlzC aston-villa" src="img/astonvilla.png" alt="AstonVilla" />
              <div class="aston-villa-IrSHyF valign-text-middle aston-villa body2">ASTON VILLA</div>
            </div>
            <div class="score-znlBDh score">
              <img class="vector-oQsMFU vector" src="img/vector@2x.png" alt="Vector" />
              <img class="vector-CG1aTJ vector" src="img/vector-1@2x.png" alt="Vector" />
              <img class="vector-nGl01b vector" src="img/vector-2@2x.png" alt="Vector" />
              <div class="live-oQsMFU live">LIVE</div>
              <div class="x100-oQsMFU">
                <span class="span0-EkeIxM body2">100</span><span class="span1-EkeIxM">’</span>
              </div>
              <div class="x000-oQsMFU x000 pretendard-semi-bold-black-20px">000</div>
              <div class="x000-CG1aTJ x000 pretendard-semi-bold-black-20px">000</div>
            </div>
            <div class="group-6-znlBDh group-6">
              <img class="arsenal-WTHxxV arsenal" src="img/arsenal.png" alt="Arsenal" />
              <div class="arsenal-EKZ25L valign-text-middle arsenal body2">ARSENAL</div>
            </div>
          </div>
          <div class="btn_-favorite_-check">
            <div class="group-28"><img class="star" src="img/star-23@2x.png" alt="Star" /></div>
            <div class="group-29-eKOwTv smart-layers-pointers">
              <img class="star" src="img/star-24@2x.png" alt="Star" />
            </div>
          </div>
          <div class="live-tracker-QB1qeo">
            <a href="/LiveTrack" target="_self"
              ><img
                class="btn_-live-tracker-67TF4O"
                src="img/property-1-btn-livetracker-default@2x.png"
                alt="Btn_LiveTracker"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="fixtures-Mzx5SR fixtures headline2">FIXTURES</div>
      <div class="contents_-football_-fixtures-Mzx5SR" id="contents_-football_-fixtures">
        <div class="rectangle-29-Pup877 rectangle-29"></div>
        <div class="frame-315-Pup877 frame-315">
          <div class="group-17">
            <div class="rectangle-28-Ul7R2k rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-Ul7R2k premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <div class="frame-316-Pup877 frame-316">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-UF5EGU premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <img class="line-1" src="img/line-1@2x.png" alt="Line 1" />
        <img class="line-2-Pup877 line-2" src="img/line-1@2x.png" alt="Line 2" />
        <div class="live_-match">
          <div class="live-match-xsj2x0 live-match">
            <div class="group-5-lAVo2N group-5">
              <img class="aston-villa-d7pV12 aston-villa" src="img/astonvilla.png" alt="AstonVilla" />
              <div class="aston-villa-uDG1jt valign-text-middle aston-villa body2">ASTON VILLA</div>
            </div>
            <div class="vs-lAVo2N vs">
              <div class="x19-30 headline">19: 30</div>
              <div class="vs-YtCTsX vs headline">VS</div>
            </div>
            <div class="group-6-lAVo2N group-6">
              <img class="arsenal-ZLT9Te arsenal" src="img/arsenal.png" alt="Arsenal" />
              <div class="arsenal-QHk1DS valign-text-middle arsenal body2">ARSENAL</div>
            </div>
            <div class="frame-303-lAVo2N frame-303">
              <img
                class="btn_-round-square2-OFdU6x btn_-round-square2"
                src="img/btn-roundsquare2-2@2x.png"
                alt="Btn_RoundSquare2"
              />
              <div class="matchup valign-text-middle body2">MATCHUP</div>
            </div>
          </div>
          <div class="btn_-favorite_-check">
            <div class="group-28"><img class="star" src="img/star-23@2x.png" alt="Star" /></div>
            <div class="group-29-Ktdd7X smart-layers-pointers">
              <img class="star" src="img/star-24@2x.png" alt="Star" />
            </div>
          </div>
        </div>
      </div>
      <div class="odds-Mzx5SR headline2">ODDS</div>
      <div class="contents_-football_odds-Mzx5SR" id="contents_-football_odds">
        <div class="rectangle-29-Q0RCcx rectangle-29"></div>
        <img class="line-2-Q0RCcx line-2" src="img/line-2-2@2x.png" alt="Line 2" />
        <img class="line-4-Q0RCcx" src="img/line-2-2@2x.png" alt="Line 4" />
        <div class="live_-match">
          <div class="live-match-25G9i2 live-match">
            <div class="group-5-sUtvVx group-5">
              <img class="aston-villa-ZxFRKU aston-villa" src="img/astonvilla.png" alt="AstonVilla" />
              <div class="aston-villa-pZEaU9 valign-text-middle aston-villa body2">ASTON VILLA</div>
            </div>
            <div class="vs-sUtvVx vs">
              <div class="x19-30 headline">19: 30</div>
              <div class="vs-4YjPqZ vs headline">VS</div>
            </div>
            <div class="group-6-sUtvVx group-6">
              <img class="arsenal-YybOLM arsenal" src="img/arsenal.png" alt="Arsenal" />
              <div class="arsenal-SCwwTA valign-text-middle arsenal body2">ARSENAL</div>
            </div>
            <div class="odds_-grop-sUtvVx">
              <div class="frame-304-nGYsOr">
                <img
                  class="btn_-round-square2-kyqfZ3 btn_-round-square2"
                  src="img/btn-roundsquare2-3@2x.png"
                  alt="Btn_RoundSquare2"
                />
                <div class="x5600-kyqfZ3 valign-text-middle body2">56.00</div>
              </div>
              <div class="frame-305-nGYsOr">
                <img
                  class="btn_-round-square2-Px8Eja btn_-round-square2"
                  src="img/btn-roundsquare2-3@2x.png"
                  alt="Btn_RoundSquare2"
                />
                <div class="x1350-Px8Eja valign-text-middle body2">13.50</div>
              </div>
              <div class="frame-306-nGYsOr">
                <img
                  class="btn_-round-square2-PhqxIL btn_-round-square2"
                  src="img/btn-roundsquare2-3@2x.png"
                  alt="Btn_RoundSquare2"
                />
                <div class="x105-PhqxIL valign-text-middle body2">1.05</div>
              </div>
              <div class="frame-307-nGYsOr"><div class="x25-HvDqXR valign-text-middle headline3">+25</div></div>
            </div>
            <div class="frame-303-sUtvVx frame-303">
              <img
                class="btn_-round-square2-wVHFXO btn_-round-square2"
                src="img/btn-roundsquare2-2@2x.png"
                alt="Btn_RoundSquare2"
              />
              <div class="matchup valign-text-middle body2">MATCHUP</div>
            </div>
          </div>
          <div class="frame-308-25G9i2">
            <div class="btn_-favorite_-check-qATHVJ btn_-favorite_-check">
              <div class="group-28"><img class="star" src="img/star-8@2x.png" alt="Star" /></div>
              <div class="group-29-Qdp3eC smart-layers-pointers">
                <img class="star" src="img/star-9@2x.png" alt="Star" />
              </div>
            </div>
          </div>
        </div>
        <div class="frame-315-Q0RCcx frame-315">
          <div class="group-17">
            <div class="rectangle-28-rNToxA rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-rNToxA premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <div class="frame-316-Q0RCcx frame-316">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-7TKxHR premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
      </div>
      <div class="result-Mzx5SR headline2">RESULT</div>
      <div class="contents_-football_-result-Mzx5SR" id="contents_-football_-result">
        <div class="rectangle-29-cNnC3K rectangle-29"></div>
        <img class="line-1" src="img/line-1@2x.png" alt="Line 1" />
        <img class="line-2-cNnC3K line-2" src="img/line-1@2x.png" alt="Line 2" />
        <div class="live_-match">
          <div class="live-match-UdRemY live-match">
            <div class="group-5-jjG9eS group-5">
              <img class="aston-villa-NPTZiQ aston-villa" src="img/astonvilla.png" alt="AstonVilla" />
              <div class="aston-villa-x6Tn8o valign-text-middle aston-villa body2">ASTON VILLA</div>
            </div>
            <div class="score-jjG9eS score">
              <img class="vector-i1x4Ai vector" src="img/vector@2x.png" alt="Vector" />
              <img class="vector-vxBA25 vector" src="img/vector-1@2x.png" alt="Vector" />
              <div class="x1930-i1x4Ai body2">19:30</div>
              <div class="ft-i1x4Ai body2">FT</div>
              <div class="x2-i1x4Ai pretendard-semi-bold-black-20px">2</div>
              <div class="x1-i1x4Ai pretendard-semi-bold-black-20px">1</div>
            </div>
            <div class="group-6-jjG9eS group-6">
              <img class="arsenal-dxyhJb arsenal" src="img/arsenal.png" alt="Arsenal" />
              <div class="arsenal-bBtmXH valign-text-middle arsenal body2">ARSENAL</div>
            </div>
            <div class="btn_-statistics-jjG9eS"><div class="statistics-whvWUP body2">STATISTICS</div></div>
          </div>
          <div class="btn_-favorite_-check">
            <div class="group-28"><img class="star" src="img/star-23@2x.png" alt="Star" /></div>
            <div class="group-29-bBEHob smart-layers-pointers">
              <img class="star" src="img/star-24@2x.png" alt="Star" />
            </div>
          </div>
        </div>
        <div class="frame-315-cNnC3K frame-315">
          <div class="group-17">
            <div class="rectangle-28-SrZbg4 rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-SrZbg4 premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
        <div class="frame-316-cNnC3K frame-316">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <img class="flag_-circle_eng" src="img/flag-circle-eng-1.png" alt="Flag_Circle_ENG" />
            <div class="premier-league-WbAFwE premier-league headline2">PREMIER LEAGUE</div>
          </div>
        </div>
      </div>
      <div class="league-Mzx5SR headline2">LEAGUE</div>
      <div class="contents_-football_-league-Mzx5SR" id="contents_-football_-league">
        <div class="rectangle-29-ZfQThX rectangle-29"></div>
        <div class="frame-309-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-BdnO4H rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-A4PGKV icon_-line-arrow"
            src="img/icon-linearrow-1@2x.png"
            alt="Icon_LineArrow"
          />
          <img class="flag_-circle_us-A4PGKV" src="img/flag-circle-us.png" alt="Flag_Circle_US" />
          <div class="msl-A4PGKV headline">MSL</div>
        </div>
        <div class="frame-310-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-Qc7rMV rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-6mMTe7 icon_-line-arrow"
            src="img/icon-linearrow-2@2x.png"
            alt="Icon_LineArrow"
          />
          <div class="korea-6mMTe7 headline">KOREA</div>
          <img class="flag_-circle_kor-6mMTe7" src="img/flag-circle-kor.png" alt="Flag_Circle_KOR" />
        </div>
        <div class="frame-313-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-xPzDG9 rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-LKM4fs icon_-line-arrow"
            src="img/icon-linearrow-2@2x.png"
            alt="Icon_LineArrow"
          />
          <div class="chilei-LKM4fs headline">CHILEI</div>
          <img class="flag_-circle_cl-LKM4fs" src="img/flag-circle-cl.png" alt="Flag_Circle_CL" />
        </div>
        <div class="frame-314-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-6JNXgx rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-Mvxkx3 icon_-line-arrow"
            src="img/icon-linearrow-2@2x.png"
            alt="Icon_LineArrow"
          />
          <div class="brazil-Mvxkx3 headline">BRAZIL</div>
          <img class="flag_-circle_br-Mvxkx3" src="img/flag-circle-br.png" alt="Flag_Circle_BR" />
        </div>
        <div class="frame-311-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-hkxsYS rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-pTNHyQ icon_-line-arrow"
            src="img/icon-linearrow-1@2x.png"
            alt="Icon_LineArrow"
          />
          <div class="la-liga-pTNHyQ body">La Liga</div>
        </div>
        <div class="frame-312-ZfQThX">
          <a href="/FootBall/League" target="_self">
            <div class="btn_-league-select">
              <div class="rectangle-39-ulQtx6 rectangle-39"></div>
              <img class="line-11" src="img/line-11-1@2x.png" alt="Line 11" /></div></a
          ><img
            class="icon_-line-arrow-ozftes icon_-line-arrow"
            src="img/icon-linearrow-1@2x.png"
            alt="Icon_LineArrow"
          />
          <div class="premier-league-ozftes premier-league body">Premier League</div>
        </div>
        <div class="frame-315-ZfQThX frame-315">
          <div class="group-17">
            <div class="rectangle-28-pwmDwx rectangle-28"></div>
            <div class="best-league-pwmDwx headline2">BEST LEAGUE</div>
          </div>
        </div>
        <div class="frame-316-ZfQThX frame-316">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <div class="popular-countries headline2">POPULAR COUNTRIES</div>
          </div>
        </div>
        <div class="frame-317-ZfQThX">
          <div class="group-17">
            <div class="rectangle-28"></div>
            <div class="popular-countries headline2">POPULAR COUNTRIES</div>
          </div>
        </div>
      </div>