/* screen - statchart4 */

.statchart4 {
  align-items: flex-start;
  background-color: var(--wt);
  display: flex;
  height: 534px;
  width: 340px;
}

.statchart4 .match_-stats_chart4 {
  align-items: center;
  background-color: var(--bggray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: 5px 7px;
  position: relative;
  width: 340px;
}

.statchart4 .frame-491 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9px;
  position: relative;
  width: 320px;
}

.statchart4 .ft-0-2 {
  color: var(--bk);
  font-weight: 600;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.statchart4 .frame-4 {
  align-self: stretch;
  height: 28px;
  position: relative;
  width: 100%;
}

.statchart4 .flex-row {
  align-items: center;
  display: flex;
  height: 28px;
  min-width: 160px;
}

.statchart4 .text {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 12px;
  min-width: 15px;
  white-space: nowrap;
}

.statchart4 .btn {
  margin-left: 9px;
}

.statchart4 .frame-490 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 113px;
}

.statchart4 .in-edward-nketiah {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}

.statchart4 .out-oleksndr-zinchenko {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-1 {
  left: 133px;
  min-width: 187px;
  position: relative;
}

.statchart4 .frame-481 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  width: 106px;
}

.statchart4 .name {
  min-width: 75px;
  text-align: right;
}

.statchart4 .assist-youri-tielemans {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  min-width: 106px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .frame-480 {
  align-items: flex-start;
  background-color: var(--midnight);
  border-radius: 5px;
  display: flex;
  height: 18px;
  justify-content: flex-end;
  margin-left: 4px;
  min-width: 32px;
  padding: 0 5px;
}

.statchart4 .text-1 {
  color: var(--wt);
  font-weight: 400;
  line-height: normal;
  min-height: 16px;
}

.statchart4 .btn-1 {
  margin-left: 4px;
}

.statchart4 .text-2 {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 6px;
  min-height: 12px;
  min-width: 15px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .flex-row-2 {
  left: 150px;
  min-width: 170px;
  position: relative;
}

.statchart4 .frame-479 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  width: 89px;
}

.statchart4 .name-1 {
  min-width: 67px;
  text-align: right;
}

.statchart4 .assist-lucas-digne {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  min-width: 89px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .frame-478 {
  align-items: flex-start;
  background-color: var(--midnight);
  border-radius: 5px;
  display: flex;
  height: 18px;
  margin-left: 4px;
  min-width: 32px;
  padding: 0 6px;
}

.statchart4 .flex-row-3 {
  left: 185px;
  min-width: 135px;
  position: relative;
}

.statchart4 .frame-477 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  width: 90px;
}

.statchart4 .in-alex-moreno {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
  min-width: 90px;
  text-align: right;
}

.statchart4 .out-nicolo-zaniolo {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  margin-left: 3px;
  min-height: 12px;
  min-width: 87px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .flex-row-4 {
  min-width: 131px;
}

.statchart4 .frame-489 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 84px;
}

.statchart4 .in-jorginho {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}

.statchart4 .out-gabriel-jesus {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-5 {
  min-width: 168px;
}

.statchart4 .frame-488 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 121px;
}

.statchart4 .in-emile-smith-rowe {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}

.statchart4 .out-martin-odegaard {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-6 {
  min-width: 162px;
}

.statchart4 .frame-487 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 115px;
}

.statchart4 .in-gabriel-martinelli {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}

.statchart4 .out-leandro-trossard {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-7 {
  min-width: 172px;
}

.statchart4 .frame-486 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 125px;
}

.statchart4 .in-takehiro-tomiyasu {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}

.statchart4 .out-ben-white {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-8 {
  min-width: 114px;
}

.statchart4 .frame-485 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 67px;
}

.statchart4 .not-retreating {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .flex-row-9 {
  left: 190px;
  min-width: 130px;
  position: relative;
}

.statchart4 .frame-463 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  width: 86px;
}

.statchart4 .in-leon-bailey {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-left: 2px;
  margin-top: -1px;
  min-height: 16px;
  min-width: 84px;
  text-align: right;
}

.statchart4 .out-moussa-diaby {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  min-width: 86px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .text-12 {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2.0px;
  margin-left: 6px;
  min-height: 12px;
  min-width: 14px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .ht-0-0 {
  color: var(--bk);
  font-weight: 600;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.statchart4 .flex-row-10 {
  min-width: 224px;
}

.statchart4 .frame-484 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 177px;
}

.statchart4 .frame-468 {
  height: 28px;
  position: relative;
  width: 320px;
}

.statchart4 .flex-row-11 {
  min-width: 107px;
}

.statchart4 .frame-483 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  min-height: 28px;
  width: 60px;
}

.statchart4 .flex-row-12 {
  gap: 6px;
  left: 154px;
  min-width: 166px;
  position: relative;
}

.statchart4 .frame-482 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 28px;
  width: 120px;
}

.statchart4 .name-5 {
  min-width: 120px;
  text-align: right;
}

.statchart4 .foul-2 {
  min-width: 19px;
  text-align: right;
}

.statchart4 .btn_-yellow-card {
  height: 20px;
  margin-top: 4.0px;
  width: 20px;
}

.statchart4 .text-15 {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  margin-top: 2.0px;
  min-height: 12px;
  min-width: 14px;
  text-align: right;
  white-space: nowrap;
}

.statchart4 .btn-2 {
  height: 20px;
  width: 20px;
}

.statchart4 .flex-row-13 {
  align-items: center;
  display: flex;
  height: 28px;
}

.statchart4 .foul-3 {
  color: var(--ctgray2);
  font-weight: 500;
  line-height: normal;
  min-height: 12px;
  white-space: nowrap;
}

.statchart4 .name-6 {
  color: var(--bk);
  font-weight: 400;
  line-height: normal;
  margin-top: -1px;
  min-height: 16px;
}
