/* screen - frmu95tabletmin */

.frmu95tabletmin {
  background-color: var(--bg);
  margin: 0px;
  min-height: 1709px;
  min-width: 507px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.frmu95tabletmin .contents-footer-D45olh {
  align-items: flex-start;
  background-color: #16181a;
  bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 37px 20px;
  height: 388px;
  left: 0px;
  overflow: hidden;
  padding: 31px 10px 15px;
  position: absolute;
  width: 100%;
}

.frmu95tabletmin .general-info-about-u-VNbcSf {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 113px;
}

.frmu95tabletmin .span0-Ju0NB3 {
}

.frmu95tabletmin .span1-Ju0NB3 {
}

.frmu95tabletmin .promotions-sports-pr-VNbcSf {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  width: 163px;
}

.frmu95tabletmin .span0-emYqNB {
}

.frmu95tabletmin .span1-emYqNB {
}

.frmu95tabletmin .help-help-bet-slip-c-VNbcSf {
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: normal;
  position: relative;
  text-align: left;
  width: 194px;
}

.frmu95tabletmin .span0-5TlSHP {
}

.frmu95tabletmin .span1-5TlSHP {
}

.frmu95tabletmin .copyright-2024-oddsn-VNbcSf {
  background-color: transparent;
  color: var(--wt);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 487px;
}

.frmu95tabletmin .contents_-football_-live-D45olh {
  background-color: transparent;
  height: 1351px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 71.01%;
}

.frmu95tabletmin .contents_-right_-event-D45olh {
  background-color: transparent;
  height: 283px;
  left: 71.20%;
  position: absolute;
  top: 171px;
  width: 26.43%;
}

.frmu95tabletmin .mask-group-RnsMSU {
  height: 283px;
}

.frmu95tabletmin .contents_-right_-sponsor-D45olh {
  background-color: transparent;
  height: 850px;
  left: 71.20%;
  position: absolute;
  top: 461px;
  width: 26.43%;
}

.frmu95tabletmin .mask-group-GICCMS {
  height: 850px;
}

.frmu95tabletmin .sub-tap-D45olh {
  background-color: transparent;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 164px;
  width: 71.01%;
}

.frmu95tabletmin .rectangle-13-QzYJhH {
  height: 38px;
}

.frmu95tabletmin .frame-24-QzYJhH {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: 24px;
  justify-content: space-between;
  left: 0px;
  padding: 0px 10px;
  position: absolute;
  top: 7px;
  width: 100%;
}

.frmu95tabletmin .frame-23-TXxEkC {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 24px;
  position: relative;
}

.frmu95tabletmin .btn_-favorite-ihhl09 {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 56px);
  position: relative;
  top: 0px;
  width: 82px;
}

.frmu95tabletmin .rectangle-24-m5qwYt {
  background-color: var(--bg);
  border: 1px solid;
  border-color: var(--ltblue);
  border-radius: 12px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .ellipse-1-m5qwYt {
  background-color: var(--ltblue);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: calc(50.00% - 12px);
  width: 24px;
}

.frmu95tabletmin .star-1-m5qwYt {
  background-color: transparent;
  height: 17px;
  left: 4px;
  position: absolute;
  top: calc(50.00% - 9px);
  width: 17px;
}

.frmu95tabletmin .favorite_count-m5qwYt {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 66.67%;
  justify-content: center;
  left: 43.86%;
  padding: 1px 0px 1px 13px;
  position: absolute;
  top: 20.83%;
  width: 42.11%;
}

.frmu95tabletmin .x0-AWkRyx {
  background-color: transparent;
  letter-spacing: -0.36px;
  line-height: normal;
  margin-left: -1.47px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: 23px;
}

.frmu95tabletmin .frame-22-TXxEkC {
  background-color: transparent;
  height: 24px;
  position: relative;
  width: 113.33332824707031px;
}

.frmu95tabletmin .btn_-bytime-Bpxgl3 {
  background-color: transparent;
  height: 24px;
  left: 37px;
  position: relative;
  top: 0px;
  width: calc(100.00% - 48px);
}

.frmu95tabletmin .rectangle-25-F7p4yx {
  background-color: var(--bg);
  border: 1px solid;
  border-color: var(--ltblue);
  border-radius: 12px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .by-time-F7p4yx {
  background-color: transparent;
  height: 58.33%;
  left: 19.15%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20.83%;
  white-space: nowrap;
  width: 61.54%;
}

.frmu95tabletmin .frame-21-TXxEkC {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.frmu95tabletmin .btn_-calendar_-set-ryCmnM {
  background-color: transparent;
  height: 24px;
  position: relative;
  width: 112px;
}

.frmu95tabletmin .btn_-calendar-MEqbnr {
  background-color: transparent;
  height: 24px;
  left: calc(50.00% - 56px);
  position: relative;
  top: 0px;
  width: 112px;
}

.frmu95tabletmin .rectangle-26-tDMKw1 {
  background-color: var(--bg);
  border: 1px solid;
  border-color: var(--ltblue);
  height: 100%;
  left: 10.16%;
  position: absolute;
  top: 0px;
  width: 80.47%;
}

.frmu95tabletmin .x28-april-tDMKw1 {
  background-color: transparent;
  height: 50.00%;
  left: 34.93%;
  letter-spacing: -0.30px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20.83%;
  white-space: nowrap;
  width: 31.25%;
}

.frmu95tabletmin .btn_-previous-day-tDMKw1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.frmu95tabletmin .ellipse-3-kxfUxd {
  background-color: var(--ltblue);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.frmu95tabletmin .polygon-2-kxfUxd {
  background-color: transparent;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 6px;
}

.frmu95tabletmin .btn_-next-day-tDMKw1 {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
}

.frmu95tabletmin .ellipse-2-mgoY1Q {
  background-color: var(--ltblue);
  border-radius: 12px;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 24px;
}

.frmu95tabletmin .polygon-1-mgoY1Q {
  background-color: transparent;
  height: 8px;
  left: 9px;
  position: absolute;
  top: 8px;
  width: 6px;
}

.frmu95tabletmin .tap-D45olh {
  height: 42px;
  top: 123px;
}

.frmu95tabletmin .rectangle-12-lvlFc5 {
  background-color: var(--frblue);
  height: 42px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .tap-lvlFc5 {
  align-items: flex-start;
  display: flex;
  top: 17px;
}

.frmu95tabletmin .frame-16-FBbk3Q {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 25px;
  position: relative;
}

.frmu95tabletmin .tap_-live-S20wsh {
  background-color: transparent;
  height: 25px;
  left: 5.56%;
  position: relative;
  top: 0px;
  width: 88.89%;
}

.frmu95tabletmin .group-4-cEoUts {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 102.22%;
}

.frmu95tabletmin .rectangle-15-7XpCOX {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 97.83%;
}

.frmu95tabletmin .rectangle-14-7XpCOX {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 16.00%;
  width: 97.83%;
}

.frmu95tabletmin .live-7XpCOX {
  background-color: transparent;
  height: 56.00%;
  left: 33.97%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24.00%;
  white-space: nowrap;
  width: 26.05%;
}

.frmu95tabletmin .frame-17-FBbk3Q {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 25px;
  position: relative;
}

.frmu95tabletmin .tap_-fixtures-BCKURT {
  background-color: transparent;
  height: 25px;
  left: 5.56%;
  position: relative;
  top: 0px;
  width: 88.89%;
}

.frmu95tabletmin .rectangle-16-A7Sx2d {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-17-A7Sx2d {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 16.00%;
  width: 100%;
}

.frmu95tabletmin .fixtures-A7Sx2d {
  background-color: transparent;
  height: 56.00%;
  left: 20.41%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24.00%;
  white-space: nowrap;
  width: 59.91%;
}

.frmu95tabletmin .frame-18-FBbk3Q {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 25px;
  position: relative;
}

.frmu95tabletmin .tap_-odds-A5BNlA {
  background-color: transparent;
  height: 25px;
  left: 5.56%;
  position: relative;
  top: 0px;
  width: 88.89%;
}

.frmu95tabletmin .rectangle-18-fBH0Kx {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-19-fBH0Kx {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 16.00%;
  width: 100%;
}

.frmu95tabletmin .odds-fBH0Kx {
  background-color: transparent;
  height: 56.00%;
  left: 32.52%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24.00%;
  white-space: nowrap;
  width: 36.61%;
}

.frmu95tabletmin .frame-19-FBbk3Q {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 25px;
  position: relative;
}

.frmu95tabletmin .tap_-league-mp192r {
  background-color: transparent;
  height: 25px;
  left: 5.56%;
  position: relative;
  top: 0px;
  width: 88.89%;
}

.frmu95tabletmin .rectangle-22-TLJNEp {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-23-TLJNEp {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 16.00%;
  width: 100%;
}

.frmu95tabletmin .league-TLJNEp {
  background-color: transparent;
  height: 56.00%;
  left: 25.54%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24.00%;
  white-space: nowrap;
  width: 48.82%;
}

.frmu95tabletmin .frame-20-FBbk3Q {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 25px;
  position: relative;
}

.frmu95tabletmin .tap_-result-EfyoFC {
  background-color: transparent;
  height: 25px;
  left: 5.56%;
  position: relative;
  top: 0px;
  width: 88.89%;
}

.frmu95tabletmin .rectangle-20-xHwmnA {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-21-xHwmnA {
  background-color: var(--frblue);
  border-radius: 5px 5px 0px 0px;
  height: 84.00%;
  left: 0px;
  position: absolute;
  top: 16.00%;
  width: 100%;
}

.frmu95tabletmin .result-xHwmnA {
  background-color: transparent;
  height: 56.00%;
  left: 25.81%;
  letter-spacing: -0.36px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24.00%;
  white-space: nowrap;
  width: 46.60%;
}

.frmu95tabletmin .rectangle-9-D45olh {
  background-color: var(--bg);
  height: 84px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 100%;
}

.frmu95tabletmin .sub-header-D45olh {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 100%;
}

.frmu95tabletmin .icons-645rt0::-webkit-scrollbar {
  display: none;
  width: 0;
}

.frmu95tabletmin .icons-645rt0 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-wrap: nowrap;
  gap: 3px;
  height: 68px;
  left: 1.78%;
  overflow-x: scroll;
  position: relative;
  top: 8px;
  width: 96.06%;
}

.frmu95tabletmin .btn_-football-J9YiTU {
  flex: 1;
  flex-grow: 1;
  height: 68px;
}

.frmu95tabletmin .btn_-football-lqSCLb {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-uS7orU {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .football-uS7orU {
  background-color: transparent;
  height: 17.65%;
  left: 19.58%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 64.83%;
}

.frmu95tabletmin .vector-uS7orU {
  left: calc(50.00% - 19px);
  width: 38px;
}

.frmu95tabletmin .btn_-basketball-J9YiTU {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 68px;
  position: relative;
}

.frmu95tabletmin .btn_basket-k73k6Q {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-Guarfe {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .basketball-Guarfe {
  background-color: transparent;
  height: 17.65%;
  left: 9.43%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 80.08%;
}

.frmu95tabletmin .x498-ball-basketball-nba-sport-Guarfe {
  background-color: transparent;
  height: 38px;
  left: calc(50.00% - 19px);
  position: absolute;
  top: calc(50.00% - 26px);
  width: 38px;
}

.frmu95tabletmin .btn_-baseball-J9YiTU {
  background-color: transparent;
  flex: 1;
  flex-grow: 1;
  height: 68px;
  position: relative;
}

.frmu95tabletmin .btn_base-PcFmBe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-WtajaB {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .baseball-WtajaB {
  background-color: transparent;
  height: 17.65%;
  left: 18.31%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 63.56%;
}

.frmu95tabletmin .vector-WtajaB {
  left: calc(50.00% - 17px);
  width: 33px;
}

.frmu95tabletmin .btn_vollyball-J9YiTU {
  flex: 1;
  flex-grow: 1;
  height: 68px;
}

.frmu95tabletmin .btn_vollyball-LLe4W6 {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-RVR93j {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .vollyball-RVR93j {
  background-color: transparent;
  height: 17.65%;
  left: 16.68%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 69.92%;
}

.frmu95tabletmin .x491-ball-volley-volleyball-sport-RVR93j {
  background-color: transparent;
  height: 38px;
  left: calc(50.00% - 20px);
  position: absolute;
  top: calc(50.00% - 26px);
  width: 38px;
}

.frmu95tabletmin .btn_tennis-J9YiTU {
  flex: 1;
  flex-grow: 1;
  height: 68px;
}

.frmu95tabletmin .btn_tennis-blDNb0 {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-ucmix8 {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .tennis-ucmix8 {
  background-color: transparent;
  height: 17.65%;
  left: 27.18%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 45.76%;
}

.frmu95tabletmin .vector-ucmix8 {
  left: calc(50.00% - 15px);
  width: 30px;
}

.frmu95tabletmin .btn_icehockey-J9YiTU {
  flex: 1;
  flex-grow: 1;
  height: 68px;
}

.frmu95tabletmin .btn_icehockey-pngoJz {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13-RXjF50 {
  border: 1px solid;
  border-color: var(--wt);
  border-radius: 6px;
  height: 100%;
}

.frmu95tabletmin .icehockey-RXjF50 {
  background-color: transparent;
  height: 17.65%;
  left: 15.23%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 72.06%;
  white-space: nowrap;
  width: 72.46%;
}

.frmu95tabletmin .vector-RXjF50 {
  left: calc(50.00% - 20px);
  width: 39px;
}

.frmu95tabletmin .header-D45olh {
  background-color: transparent;
  height: 2.34%;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-6-uRBopG {
  background-color: var(--frblue);
  height: 43px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .x1-uRBopG {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: 74px;
  top: 12px;
  width: 15px;
}

.frmu95tabletmin .oddsnavicom-uRBopG {
  background-color: transparent;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: auto;
}

.frmu95tabletmin .btn_-log-in_-default-uRBopG {
  background-color: transparent;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 9px;
  width: 53px;
}

.frmu95tabletmin .rectangle-7-1GOxJw {
  background-color: var(--frblue);
  border: 1px solid;
  border-color: var(--ptyellow);
  border-radius: 6px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .login-1GOxJw {
  background-color: transparent;
  height: 50.00%;
  left: 20.47%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22.22%;
  white-space: nowrap;
  width: 56.60%;
}

.frmu95tabletmin .btn_menu-uRBopG {
  background-color: transparent;
  height: 16px;
  left: 21px;
  position: absolute;
  top: 13px;
  width: 20px;
}

.frmu95tabletmin .btn_menu-IW9zws {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-2-XdK5Np {
  background-color: var(--wt);
  height: 21.57%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-3-XdK5Np {
  background-color: var(--wt);
  height: 21.57%;
  left: 0px;
  position: absolute;
  top: 39.22%;
  width: 100%;
}

.frmu95tabletmin .rectangle-4-XdK5Np {
  background-color: var(--wt);
  height: 21.57%;
  left: 0px;
  position: absolute;
  top: 78.43%;
  width: 100%;
}

.frmu95tabletmin .btn_-football {
  background-color: transparent;
  position: relative;
}

.frmu95tabletmin .btn_icehockey {
  background-color: transparent;
  position: relative;
}

.frmu95tabletmin .btn_tennis {
  background-color: transparent;
  position: relative;
}

.frmu95tabletmin .btn_vollyball {
  background-color: transparent;
  position: relative;
}

.frmu95tabletmin .mask-group {
  background-color: transparent;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .rectangle-13 {
  background-color: var(--bg);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.frmu95tabletmin .tap {
  background-color: transparent;
  left: 0px;
  position: absolute;
  width: 100%;
}

.frmu95tabletmin .vector {
  background-color: transparent;
  height: 38px;
  position: absolute;
  top: calc(50.00% - 26px);
}
