:root {
  --bg: rgba(0, 18, 38, 1);
  --frblue: rgba(1, 30, 61, 1);
  --stblue: rgba(28, 60, 95, 1);
  --ltblue: rgba(49, 91, 153, 1);
  --btblue: rgba(0, 177, 255, 1);
  --ptyellow: rgba(246, 208, 78, 1);
  --btyellow: rgba(98, 94, 54, 1);
  --wt: rgba(255, 255, 255, 1);
  --bk: rgba(0, 0, 0, 1);
  --bggray: rgba(248, 248, 248, 1);
  --ctgray: rgba(217, 217, 217, 1);
  --ctgray-2: rgba(98, 98, 98, 1);
  --title-font-family: "Pretendard", Helvetica;
  --title-font-weight: 800;
  --title-font-size: 35px;
  --title-letter-spacing: -1.75px;
  --title-line-height: normal;
  --title-font-style: normal;
  --head-line-font-family: "Pretendard", Helvetica;
  --head-line-font-weight: 600;
  --head-line-font-size: 17px;
  --head-line-letter-spacing: 0px;
  --head-line-line-height: normal;
  --head-line-font-style: normal;
  --head-line-2-font-family: "Pretendard", Helvetica;
  --head-line-2-font-weight: 600;
  --head-line-2-font-size: 16px;
  --head-line-2-letter-spacing: 0px;
  --head-line-2-line-height: normal;
  --head-line-2-font-style: normal;
  --head-line-3-font-family: "Pretendard", Helvetica;
  --head-line-3-font-weight: 600;
  --head-line-3-font-size: 14px;
  --head-line-3-letter-spacing: -0.56px;
  --head-line-3-line-height: normal;
  --head-line-3-font-style: normal;
  --body-font-family: "Pretendard", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 13px;
  --body-letter-spacing: 0px;
  --body-line-height: normal;
  --body-font-style: normal;
  --caption-font-family: "Pretendard", Helvetica;
  --caption-font-weight: 500;
  --caption-font-size: 10px;
  --caption-letter-spacing: 0px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --body2-font-family: "Pretendard", Helvetica;
  --body2-font-weight: 600;
  --body2-font-size: 12px;
  --body2-letter-spacing: 0px;
  --body2-line-height: normal;
  --body2-font-style: normal;
  --league-title-font-family: "Pretendard", Helvetica;
  --league-title-font-weight: 600;
  --league-title-font-size: 24px;
  --league-title-letter-spacing: 0px;
  --league-title-line-height: normal;
  --league-title-font-style: normal;
  --small-sports-icon-font-family: "Pretendard", Helvetica;
  --small-sports-icon-font-weight: 500;
  --small-sports-icon-font-size: 8px;
  --small-sports-icon-letter-spacing: 0px;
  --small-sports-icon-line-height: normal;
  --small-sports-icon-font-style: normal;
  --bigger-body-font-family: "Pretendard", Helvetica;
  --bigger-body-font-weight: 600;
  --bigger-body-font-size: 15px;
  --bigger-body-letter-spacing: 0px;
  --bigger-body-line-height: normal;
  --bigger-body-font-style: normal;
}
