  {% include 'common/header/top_main.html' %}
    <div class="frmu95mobile screen">
      {% include 'common/header/header_main.html' %}
      <div class="live-Mzx5SR live headline2">&nbsp;</div>
      <div><img src="img/matchup_header.png" style="width:100%"></div>
      {% include 'common/header/tab_matchup.html' %}


      {% if result.tab == 'stats' %}
        {% include 'MatchUp/stats_main.html' %}
      {% elif result.tab == 'navitalk' %}
        {% include 'MatchUp/navitalk_main.html' %}
      {% elif result.tab == 'odds' %}
        {% include 'MatchUp/odds_main.html' %}
      {% elif result.tab == 'lineup' %}
        {% include 'MatchUp/lineup_main.html' %}
      {% elif result.tab == 'h2h' %}
        {% include 'MatchUp/h2h_main.html' %}
      {% else %}
        {% include 'MatchUp/stats_main.html' %}
      {% endif %}

      {% include 'common/footer/footer_main.html' %}

    </div>
    {% include 'common/left/left_main.html' %}

  <script language="javascript">
    function go_matchup(loc){
      if (loc == 'home'){
        location.href='/Matchup?tab=matchup'
      }else{
        location.href='/Matchup?tab=matchup'
      }
    }

    function go_league(loc){
      if (loc == 'home'){
        location.href='/League?tab=stats'
      }else{
        location.href='/League?tab=stats'
      }
    }

  </script>
  </body>
</html>
